.ServiceCenters {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.ServiceCenters h1::after {
    content: '';
    height: 2px;
    background-color: red;
    display: block;
    transition: 0.7s;
    margin: auto;
    width: 0px;
}

.ServiceCenters:hover h1:after {
    width: 360px;
}

.ServiceCenters-col {
    flex-basis: 28%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.ServiceCenters-col img {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 500px;
    padding: 0;
    margin: 0;
    transform: scale(1);
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

.layer:hover {
    border-radius: 10px;
    background: rgba(226, 0, 0, 0.7);
}

.layer:hover~.kleum {
    transform: scale(2);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}